ul{
    font-size: 18px;
}
.SectionHeader{
 font-size: 35px;   
    color:royalblue ;
}
.organizationname{
font-size: 22px;
}

.organizationtitle{
 font-size: 20px;
 font-weight: lighter;
}
.dates{
    font-size: 20px;
}
